.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  height: 6vh;
  background-color: #00000010;
}
.header_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #00000080;
}
